html {
  font-size: 75%;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 100%;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #cee0df;
  font-family: "Work Sans", sans-serif;
}

.container {
  margin: 5rem auto;
  width: 85vw;
  -webkit-box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 900px) {
  .container {
    width: 65vw;
  }
}

.details {
  grid-column: 1/-1;
  background-color: #fff;
  padding: 2rem;
  letter-spacing: 1px;
  line-height: 1.7;
}

@media screen and (min-width: 900px) {
  .details {
    padding: 2rem 4rem;
  }
}

.details_heading {
  font-size: 1.2rem;
  color: #2bac9a;
}

.details_subheading {
  font-size: 1rem;
  color: #8ad816;
}

.details_text {
  letter-spacing: initial;
  color: #918f8f;
  font-size: 0.8rem;
}

.price {
  grid-column: 1/-1;
  background-color: #2bac9a;
  padding: 2rem;
  letter-spacing: 1px;
  color: #fff;
}

@media screen and (min-width: 900px) {
  .price {
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 2rem 4rem;
  }
}

.price_heading {
  font-size: 1.2rem;
}

.price_value {
  font-size: 2.2rem;
  font-weight: 600;
  padding: 0;
}

.price_value small {
  font-size: 1rem;
  font-weight: 100;
  color: #e4e2e2;
  vertical-align: middle;
  margin-left: 1rem;
}

.price_text {
  font-size: 0.9rem;
  color: #e4e2e2;
}

.services {
  grid-column: 1/-1;
  background-color: #41b3ad;
  padding: 2rem;
  letter-spacing: 1px;
  line-height: 1.7;
  color: #fff;
}

@media screen and (min-width: 900px) {
  .services {
    -ms-grid-column: 2;
    grid-column: 2;
    padding: 2rem 4rem;
  }
}

.services_heading {
  font-size: 1.2rem;
}

.services_list {
  list-style: none;
  padding: 0;
  font-size: 0.8rem;
  color: #e4e2e2;
}

.btn {
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 0;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 50px;
  color: #fff;
  background-color: #8ad816;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
}

.btn:hover {
  background-color: #fff;
  color: #8ad816;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.btn:active {
  -webkit-transform: scale(0.95) translateY(0.1rem);
      -ms-transform: scale(0.95) translateY(0.1rem);
          transform: scale(0.95) translateY(0.1rem);
}
