.btn {
	font-size: 1rem;
	font-weight: 400;
	padding: 1rem 0;
	width: 100%;
	border: none;
	border-radius: 50px;
	color: #fff;
	background-color: $color-secondary;
	transition: all 0.2s;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
	letter-spacing: 2px;
	&:hover {
		background-color: #fff;
		color: $color-secondary;
		transform: scale(0.95);
	}
	&:active {
		transform: scale(0.95) translateY(0.1rem);
	}
}
