$color-primary: rgb(65, 179, 173);
$color-primary-dark: rgb(43, 172, 154);

$color-secondary: rgb(138, 216, 22);

$color-grey: rgb(145, 143, 143);
$color-grey-light: rgb(228, 226, 226);
$box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);

$bp-medium: 900px;
